<h1>Burger Time</h1>

<h2>Burgers you have yet to devour:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you have already devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to your Repotoire:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes<br>
    <input type="radio" name="devoured" value="0"> I'm full
  </div>

  <button type="submit">Add Burger</button>
</form>
